<launch>
    <node name="Cam" pkg="Balise" type="CameraPublisher.py" output="screen" />
    <node name="Terrain" pkg="Balise" type="Terrain.py" output="screen" />
    <node name="Mask" pkg="Balise" type="Mask.py" output="screen" />
    <node name="Grid" pkg="Balise" type="Grid.py" output="screen" />
    <node name="ObjectDetection" pkg="Balise" type="ObjectDetection.py" output="screen" />
    <node name="TagDetector" pkg="Balise" type="TagDetector.py" output="screen" />
</launch>

