<launch>
    <node name="Cam" pkg="Pami" type="CameraPublisher.py" output="screen" />
    <node name="Terrain" pkg="Pami" type="Terrain.py" output="screen" />
    <node name="Mask" pkg="Pami" type="Mask.py" output="screen" />
    <node name="Grid" pkg="Pami" type="Grid.py" output="screen" />
</launch>

