<launch>
    <node name="Cam" pkg="Balise" type="CameraPublisher.py" output="screen" />
    <node name="Terrain" pkg="Balise" type="Terrain.py" output="screen" />
    <node name="TagDetector" pkg="Balise" type="TagDetector.py" output="screen" />
    <node name="TagAngle" pkg="Balise" type="TagAngle.py" output="screen" />
</launch>

