<launch>
    <node name="Cam" pkg="Pami" type="CameraPublisher.py" output="screen" />
    <node name="Terrain" pkg="Pami" type="Terrain.py" output="screen" />
    <node name="TagDetector" pkg="Pami" type="TagDetector.py" output="screen" />
    <node name="TagAngle" pkg="Pami" type="TagAngle.py" output="screen" />
</launch>

